<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- https://favicon.io/emoji-favicons/money-bag/ -->
  <!-- <link href="/static/favicon.ico" rel="icon"> -->

  <link href="/static/css/main.css" rel="stylesheet">

  <!-- custom template styles -->
  {% block stylesheet %}
  {% endblock %}
  <title>Crochet: {% block title %}{% endblock %}</title>

</head>

<body>

  <!-- Navbar here -->

  {% if get_flashed_messages() %}
  <!-- <header>
    <div class="alert alert-primary mb-0 text-center" role="alert">
      {{ get_flashed_messages() | join(" ") }}
    </div>
  </header> -->
  {% endif %}

  <main>
    {% block main %}{% endblock %}
  </main>

  <footer class="mb-5 small text-center text-muted">
    Built by Hyunah Boo, Kelly Ding, & Jocelyn Hsieh
  </footer>

  {% block scripts %}

  {% endblock %}

</body>

</html>